{% load static %}
       <!-- About Start-->
        <div class="about mt-100">
            <div class="container">
                <div class="section-header">
                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac lacus eget nunc imperdiet
                    </p>
                </div>
                
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="about-img">
                            <img src="{% static 'img/about.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="about-content">
                            <h2>Welcome to Our Site</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum rutrum ligula. Integer ac porttitor mi. In finibus vehicula aliquet. Vestibulum et velit placerat pretium lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum rutrum ligula. Integer ac porttitor mi. In finibus vehicula aliquet. Vestibulum et velit placerat pretium lorem
                            </p>
                            <a class="btn" href="#">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="about-img">
                            <img src="{% static 'img/about-story.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="about-content">
                            <h2>Our Story</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum rutrum ligula. Integer ac porttitor mi. In finibus vehicula aliquet. Vestibulum et velit placerat pretium lorem
                            </p>
                            <a class="btn" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-img">
                            <img src="{% static 'img/about-goal.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="about-content">
                            <h2>Our Goal</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum rutrum ligula. Integer ac porttitor mi. In finibus vehicula aliquet. Vestibulum et velit placerat pretium lorem
                            </p>
                            <a class="btn" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->