{% load static %}  
    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header">
                <h2>Services</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac lacus eget nunc imperdiet 
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="ion-ios-desktop"></i>
                        </div>
                        <div class="service-detail">
                            <h4><a href="">Web Design</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="ion-ios-laptop"></i>
                        </div>
                        <div class="service-detail">
                            <h4><a href="">Web Development</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="ion-ios-tablet-portrait"></i>
                        </div>
                        <div class="service-detail">
                            <h4><a href="">App Design</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="ion-ios-phone-portrait"></i>
                        </div>
                        <div class="service-detail">
                            <h4><a href="">App Development</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="ion-ios-desktop"></i>
                        </div>
                        <div class="service-detail">
                            <h4><a href="">Web Design</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="ion-ios-laptop"></i>
                        </div>
                        <div class="service-detail">
                            <h4><a href="">Web Development</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="ion-ios-tablet-portrait"></i>
                        </div>
                        <div class="service-detail">
                            <h4><a href="">App Design</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="ion-ios-phone-portrait"></i>
                        </div>
                        <div class="service-detail">
                            <h4><a href="">App Development</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->